head
    title McRobb.info
    meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    meta(name="charset" content="utf-8")

    link(rel="stylesheet" type="text/css" href="/css/style.css?cache_bust=1")

    meta(name="description" content="Full-time software developer, part-time freelancer.")
