.text-center.p-2
  h2.text-error Andrew McRobb.info
.container
  img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Black_white_cat_on_fence.jpg/220px-Black_white_cat_on_fence.jpg" class="btn btn-error img-responsive circle centered")
  p.text-center.p-2.tagline Full-time software developer, part-time freelancer.
